/* Facts */

.facts {
  padding: 150px 40px;
  background-color: $basic-white;
}

.facts h2 {
  margin: 0 0 50px;
}

.facts__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 38px;
  row-gap: 48px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: factsList;
}

.facts__list-item {
  max-width: 263px;

  &::before {
    display: block;
    margin-bottom: 14px;
    text-align: center;
    counter-increment: factsList;
    content: "0"counter(factsList);
    font-size: 28px;
    line-height: 1.36;
    letter-spacing: -1.27px;
    color: $accent-blue;
  }
}

.facts__list p {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.005em;
  color: $basic-black;

  & + p {
    margin-top: 12px;
  }
}


@media screen and (max-width: $desktop-max) {
  .facts {
    padding: 75px 20px;
  }

  .facts__list {
    justify-content: center;
    padding: 0 28px;
  }
}


@media screen and (max-width: $tablet-max) {
  .facts h2 {
    margin-bottom: 30px;
  }

  .facts__list {
    column-gap: 30px;
    row-gap: 38px;
  }

  .facts__list-item::before {
    margin-bottom: 15px;
  }
}


@media screen and (max-width: $mobile-max) {
  .facts {
    padding: 70px 0 78px;
  }

  .facts__list p {
    font-size: 18px;
    line-height: 1.89;
    letter-spacing: -0.5px;
  }
}
