/* footer */

.footer {
  max-width: calc(100% - (240px * 2));
  margin: 0 auto;
  padding: 151px 0 98px;
}

.footer__text {
  margin-bottom: 41px;
  text-align: center;
}

.footer__text > h2 {
  margin: 0 0 30px;
}

.footer__text p {
  max-width: 555px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  line-height: 1.82;
  color: $basic-black-70;
}

.footer__map iframe {
  max-width: 100%;
  height: 530px;
  border: 0;
}

.footer__map iframe + picture {
  display: none;
}

.footer__contacts {
  margin-top: 35px;
}

.footer__contacts h3 {
  @include visually-hidden;
}

.footer__contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 90px;
  row-gap: 45px;
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

.footer__contacts-list a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.37;
  text-decoration: none;
  color: $basic-black-50;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.footer__contacts-list a svg {
  margin-right: 20px;
}

.footer__contacts-list a[href^="mailto:"] svg {
  width: 26px;
  height: 20px;
}

.footer__contacts-list a[href^="tel:"] svg {
  width: 22px;
  height: 23px;
}


@media screen and (max-width: $tablet-max) {
  .footer {
    max-width: calc(100% - (35px * 2));
    padding: 62px 0 52px;
  }

  .footer__text {
    margin-bottom: 20px;
  }

  .footer__text > h2 {
    margin-bottom: 15px;
  }

  .footer__text p {
    max-width: 100%;
  }

  .footer__map iframe {
    height: 545px;
  }

  .footer__contacts {
    margin-top: 20px;
  }

  .footer__contacts-list a svg {
    margin-right: 15px;
  }
}


@media screen and (max-width: $mobile-max) {
  .footer {
    max-width: 100%;
    padding: 75px 0 50px;
  }

  .footer__text {
    margin-bottom: 20px;
  }

  .footer__text > h2 {
    margin-bottom: 22px;
  }

  .footer__text p {
    max-width: 100%;
    padding: 0 15px;
  }

  .footer__map iframe {
    height: 250px;
  }

  .footer__contacts {
    margin-top: 28px;
  }

  .footer__contacts-list {
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }
}
