/* Lead */

.lead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  min-height: 763px;
  padding: 20px 0 0;
  box-sizing: border-box;
}

.lead__logo {
  display: block;
  margin-bottom: 23px;
}

.lead__column {
  &--text {
    max-width: 350px;
  }

  &--form {
    min-width: 326px;
  }
}


@media screen and (max-width: $tablet-max) {
  .lead {
    flex-flow: column wrap;
    align-items: flex-start;
    row-gap: 70px;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    background-color: $basic-white;
  }

  .lead__column {
    width: 100%;

    &--text {
      max-width: 100%;
      padding: 16px 22px 80px;
      background-color: $grey;
      background-image: url("../img/lead__image.jpg");
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .lead__logo {
    margin-bottom: 95px;
  }

  .lead__text {
    margin: auto;
  }
}


@media screen and (max-width: $mobile-max) {
  .lead {
    row-gap: 48px;
  }

  .lead__column {
    padding: 25px 16px 0;

    &--text {
      padding-bottom: 70px;
    }

    &--form {
      min-width: auto;
    }
  }

  .lead__logo {
    margin-bottom: 70px;
  }
}
