/* LEad-text */

.lead-text {
  letter-spacing: -0.005em;
  color: $basic-white;
}

.lead-text h1 {
  margin: 0 0 24px;
  font-size: 46px;
  line-height: 1.4;
}

.lead-text p {
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.8;

  &:last-child {
    margin-bottom: 0;
  }
}


@media screen and (max-width: $tablet-max) {
  .lead-text {
    text-align: center;
  }

  .lead-text h1 {
    margin: 0 0 18px;
    font-size: 30px;
    line-height: 1.4;
  }

  .lead-text p {
    max-width: 393px;
    margin: 0 auto 9px;
    font-size: 18px;
    line-height: 1.78;
  }
}
