/* Types */

.types {
  padding: 149px 0;
  background-color: $white-grey;
}

.types h2 {
  margin-bottom: 51px;
}

.types__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.types__list-item {
  width: 342px;
}

.types__list-item:nth-child(odd) {
  margin-top: 10px;
}

.types__list-item:nth-child(even) {
  margin-top: 39px;
}

.types__list-item:nth-child(3n) {
  margin-top: 0;
}

.types__list-item img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.types__list-item h3 {
  margin: 20px 0;
  text-align: center;
  font-size: 22px;
  line-height: 1.55;
  letter-spacing: -0.5px;
  color: $basic-black;
}


@media screen and (max-width: $tablet-max) {
  .types {
    padding: 50px 0 70px;
  }

  .types h2 {
    margin-bottom: 30px;
  }

  .types__list-item {
    width: 270px;
  }

  .types__list-item:nth-child(odd),
  .types__list-item:nth-child(even) {
    margin: 0;
  }

  .types__list-item img {
    height: 300px;
  }
}


@media screen and (max-width: $mobile-max) {
  .types__list {
    gap: 20px;
  }
}
