/* variables */
/* viewports */

$mobile-min: 320px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-max: 1439px;

/* resolution */

$retina: 1.5dppx;


/* colors */

$basic-white: #ffffff;
$basic-black: #000000;

$basic-white-80: rgba(255, 255, 255, 0.8);
$basic-white-70: rgba(255, 255, 255, 0.7);
$basic-white-20: rgba(255, 255, 255, 0.2);

$basic-black-70: rgba(0, 0, 0, 0.7);
$basic-black-50: rgba(0, 0, 0, 0.5);

$accent-blue: #0ad9c6;
$accent-dark-blue: #0fbfaf;
$dark-brown: #1c1c1c;
$brown: #1f1f1f;
$grey: #1a1a1a;
$light-grey: #c9ccd4;
$neutral-grey: #f6f6f6;
$white-grey: #f6f7f9;
$black-grey: #48494d;
